form {
  margin-top: 15px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#guestbook {
  margin-top: 20px;
  text-align: left;
}

.guest-item {
  background: #ffe4ec;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
